#list
    margin: 20px 0px 40px 0px
    padding-top: 50%

    & li        
        position: relative
        font-family: 'Roboto', sans-serif
        list-style: none
        padding: 10px
        color: #000000
        font-weight: 500
        border-radius: 5px
        margin-bottom: 10px
