#list {
    margin: 20px 0px 40px 0px;
    /* padding: 0px 0px 20px 0px ; */
}

#list li {
    /* border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15); */
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding: 15px;
    color: #000000;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 10px;
    /* background: #1aaeac; */
}