@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
  height: 100%;
  background: linear-gradient(155deg, #222831 0%, #222831 33%, #084651 48%, #779595 65%, #dde1e1 100%);
  background-size: 170% 330%;
  /* overflow: hidden; */
  transition: all 1s ease;
  margin: 0px;
/* #222831 */


  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: fixed;
}
